.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
}

.new-tweet h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 24px;
}

.new-tweet form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  padding: 10px;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid;
  margin-bottom: 20px;
  resize: none;
}

.new-tweet button {
  padding: 10px 20px;
  font-family: 'Bungee';
  font-size: 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-tweet button:hover {
  background-color: #357abd;
}

.new-tweet .counter {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
}

.new-tweet .counter.zero {
  color: red;
}

.error-message {
  display: none;
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid red;
  border-radius: 4px;
}


@media (min-width: 1024px) {
  .new-tweet {
    width: 100%;
  }

  .new-tweet form {
    width: 100%;
  }
}